input {
  lumberjack {
    port => 5000
    ssl_certificate => "/etc/pki/tls/certs/logstash-forwarder/logstash-forwarder.crt"
    ssl_key => "/etc/pki/tls/private/logstash-forwarder/logstash-forwarder.key"
    type => "lumberjack"
  }
}

filter {
  if [path] =~ "catalina" {
    mutate { replace => { type => "catalina" } }
    date {
      match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z" ]
    }
  } else if [path] =~ "ibm-mms-amp" {
    mutate { replace => { type => "ibm-mms-amp" } }
  } else {
    mutate { replace => { type => "random_logs" } }
  }
}

output {
  elasticsearch {
    host => "ES_HOST"
    port => "ES_PORT"
  }
  stdout { codec => rubydebug }
}




